.dropdownOuter{
    height: 100%;
    padding-bottom: var(--element-space-1);
}

.dropdownSearch{
    height: 100%;
    display: flex;
    align-items: flex-end;
}

input{
    background-color: transparent;
    border: none;
    font-family: var(--font-redhat);
    font-size: var(--font-size-2);
    font-weight: 500;
    max-width: 120px;
}

input::placeholder{
    text-align: left;
    color: var(--color-text-secondary);
}

input:focus{
    outline: none;
    box-shadow: 0 1px 0 0 black;
}

@media(min-width: 580px) {
    input{
        font-size: var(--font-size-4);
    }
}