.dropdownOuter{
    width: fit-content;
    height: inherit;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.dropdownSearch{
    width: min-content;
}

input{
    border: none;
    font-family: var(--font-redhat);
    font-size: var(--font-size-2);
    font-weight: 500;
}

input::placeholder{
    text-align: start;
    color: black;
}

input:focus{
    outline: none;
    border-bottom: 1px solid black;
}