.contextWrapper{
    width: 100%;
    display: flex;
    flex-direction: column;
    font-size: var(--font-size-3);
    font-family: var(--font-redhat);
    font-weight: 500;
    gap: var(--element-space-1);
}

.mainWrapper{
    display: flex;
    justify-content: space-between;
}

.aqiMap{
   width: 100%;
   max-width: 650px;
   padding-right: var(--element-space-3);
   display: flex;
   justify-content: center;
   align-items: center;
}

.aqiMap svg>*{
    vector-effect: non-scaling-stroke;
}

.aqiMain{
    display: flex;
    gap: var(--element-space-1);
}

.aqiMain>div{
    display: flex;
    align-items: flex-end;
}

.mainContext{
    color: var(--color-theme-primary-1);
    font-size: var(--font-size-5);
    transform: translateY(2px);
}
