.contentWrapper{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto auto;
}

.locationWrapper{
    grid-column: 1 / -1;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

/* WEATHER MAIN STARTS */
.mainWrapper{
    display: flex;
    gap: var(--element-space-1);
    font-size: var(--font-size-4);
    font-family: var(--font-redhat);
    font-weight: 500;
}
/* WEATHER MAIN ENDS */

/* WEATHER DETAILS STARTS */
.detailWrapper{
    display: flex;
    justify-content: flex-end;
    min-width: 0;
}

.detailWrapper .mapWrapper{
    display: flex;
    height: max-content;
    flex-direction: column;
    font-size: var(--font-size-1);
    justify-content: center;
    align-items: flex-start;
    font-weight: 500;
    padding: 0 var(--element-space-1);
}
/* WEATHER DETAILS ENDS */

@media (min-width: 390px) {
    .detailWrapper .mapWrapper{
        padding: 0 var(--element-space-2);
    }
}

@media (min-width: 430px) {
    .detailWrapper .mapWrapper{
        padding: 0 var(--element-space-2);
        font-size: var(--font-size-2);
    }

    .mainWrapper{
        font-size: var(--font-size-5);
    }
}