

.weatherMain{
    display: grid;
    grid-template-areas: 
        "temp feels hum";
}

.temp{
    grid-area: temp;
}

.feelslike{
    grid-area: feels;
}

.humidity{
    grid-area: hum;
}

@media min-width {
    
}