.contentWrapper>div{
    width: 100%;
    padding-bottom: var(--element-space-2);
}

.contentWrapper hr{
    height: 2px;
    background-color: gray;
    border-color: gray;
    margin-bottom: var(--element-space-2);
}

.optionalHr{
    display: none;
}

@media(min-width: 600px){
    .optionalHr{
        display: block;
    }
}