.layoutContainer{
    width: 100%;
    height: 100%;
    display: grid;
    background-color: grey;
    grid-template-areas: 
        "aside header header header"
        "aside main main main"
        "aside main main main"
        "aside main main main"
        "aside main main main";
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
}

header{
    grid-area: header;
    background-color: chocolate;
}

aside{
    grid-area: aside;
}

main{
    grid-area: main;
    background-color: aliceblue;
}

.contentWrapper {
    width: 100%;
    height: 100%;
}

.plantBrowser{
    background-color: brown;
    width: 100%;
    height: 100%;
}