.viewboxWrapper{
    position: relative;
    height: 100%;
    width: 100%;
}

.circlePath{
    stroke-width: 10px;
    transition: stroke-dashoffset 500ms ease-out;
}

.placeholder{
    stroke: #bac3cf;
    stroke-width: 10px;
}

.labelContainer{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: var(--font-size-1);
    font-family: var(--font-redhat);
    font-weight: 600;
    text-align: center;
}

.value{
    font-family: var(--font-redhat);
    fill: var(--color-blue-1);
    font-weight: 500;
}