.layoutContainer{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-areas: 
        "header"
        "main";
    grid-template-rows: auto 1fr;
    font-family: var(--font-redhat);
}

header{
    grid-area: header;
    padding: 0 var(--layout-space-1);
    width: inherit;
}

header h1{
    font-size: var(--font-size-5);
    font-family: var(--font-redhat);
    font-weight: 700;
}

main{
    grid-area: main;
    width: 100%;
    padding: 0 var(--layout-space-1);
    border-bottom: 2px solid rgb(185, 185, 185);
}

.contentWrapper{  
    margin: 0;
    border: 1px solid black;
    background-color: bisque;
    border-top: none;
    border-bottom: none;
    min-height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: var(--element-space-3) 0;
}

@media (min-width: 1000px) {
    header{
        padding: 0 var(--section-space-3);
    }

    main{
        padding: 0 var(--section-space-3);
    }

    nav ul{
        gap: var(--layout-space-3);
    }

    .contentWrapper{
        grid-template-columns: repeat(3, 1fr);
        gap: var(--element-space-3);
    }
}