.cardWrapper{
    width: 100%;
    min-height: 58px;
    max-height: 597px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow-y: scroll;
    padding: var(--component-space-1);
    background-color: var(--color-theme-background-3);
    border-radius: 0.5em;
    justify-content: center;
    align-items: center;
    /* box-shadow: 0 2px 3px -2px var(--color-theme-primary-3); */
}

.cardWrapper::-webkit-scrollbar{
    display: none;
}