.cardWrapper{
    width: 100%;
    min-height: 58px;
    display: flex;
    flex-direction: column;
    height: fit-content;
    overflow-y: scroll;
    padding: var(--component-space-1);
    background-color: var(--color-theme-background-3);
    border-radius: 0.5em;
}

.cardWrapper::-webkit-scrollbar{
    display: none;
}

@media(min-width: 1000px){
    .cardWrapper{
        max-height: calc((100dvh - var(--header-height)) / 1.6);
    }
}